{
  "port": 4200,
  "mysql": {
    "host": "localhost",
    "user": "root",
    "password": "YourPasswordHere",
    "database": "OmnomIRC"
  },
  "curid": "/run/omnomirc_curid",
  "channel": "0",
  "network": 1,
  "key": "Encrypt key from checkLogin.php here",
  "checkLoginURL": "http://example.com/checkLogin.php",
  "maxBacklog": 86400,
  "imgurl": "http://img.example.com/",
  "fileLimit": 131072
}
